<%= render 'layouts/header' %>
<div class=container-header-under>
  <%= render 'layouts/left_nav' %>
  <%= render 'layouts/right_nav' %>
  <div class=container-body-center>
    You are now Logged out
  </div>
</div>