<div data-role="page" id="home_one">

	<div data-theme="a" data-role="header">
      
    <h1>Guardener</h1>
    <div id="nav_bar_top">
      <ul>
        <li>
          <a href="#page1" data-theme="" data-icon="">
            Button
          </a>
           -&gt;
        </li>
        <li>
          <a href="#page1" data-theme="" data-icon="">
            Button
          </a>
           -&gt;
        </li>
        <li>
          <a href="#page1" data-theme="" data-icon="">
            Button
          </a>
           -&gt;
        </li>
        <li>
          <a href="#page1" data-theme="" data-icon="">
            Button
          </a>
        </li>
      </ul>
    </div>
  </div>

	<div class="user-home-name">
		<p>
  		<b>Welcome Back, <%= @user.name_first.capitalize %>!</b>
		</p>
	</div>
	<div class="ui-block-a">
    <p><a href="#home_two" data-role="button">Next Page</a></p> 
  </div>
</div>

</div>

<div data-role="page" id="home_two">

	<div data-theme="a" data-role="header">
      
      <h1>Guardener</h1>
      <div id="nav_bar_top">
        <ul>
          <li>
            <a href="#page1" data-theme="" data-icon="">
              Button
            </a>
             -&gt;
          </li>
          <li>
            <a href="#page1" data-theme="" data-icon="">
              Button
            </a>
             -&gt;
          </li>
          <li>
            <a href="#page1" data-theme="" data-icon="">
              Button
            </a>
             -&gt;
          </li>
          <li>
            <a href="#page1" data-theme="" data-icon="">
              Button
            </a>
          </li>
        </ul>
      </div>
    </div>

	<div data-role="content" id="login_info">
		Wowzers
	</div>
</div>

<script type="text/javascript">
	
</script>