<div data-role="header">
		<h1>Guardener</h1>
</div>

<p id="notice"><%= notice %></p>

<div class="user-home-name">
	<p>
  	<b>Welcome Back, <%= @user.name_first.capitalize %>!</b>
	</p>
</div>



<div data-role="footer" data-id="samebar" class="nav-glyphish-example" data-position="fixed" data-tap-toggle="false">
	<div data-role="navbar" class="nav-glyphish-example" data-grid="c">
		<ul>
			<li><a href="/home/index" id="home" data-icon="custom" class="ui-btn-active">Home</a></li>
			<li><a href="#" id="garden" data-icon="custom">Garden</a></li>
			<li><a href="/plants" id="plants" data-icon="custom">Plants</a></li>
			<li><a href="#" id="community" data-icon="custom">Community</a></li>
		</ul>
	</div>
</div>

