<% if false then %>
<!DOCTYPE html> 
<html>

<head>
	<title>Guardener</title> 
	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
 	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" href="jquery.mobile-1.2.0.css" />
	<link rel="stylesheet" href="style.css" />
	
	<link rel="/public/images/apple-touch-icon" href="greentreesmall.jpg" />
	<link rel="/public/images/apple-touch-startup-image" href="greentree.jpg">

	<script src="/assets/jquery-1.8.2.min.js"></script>
	<script src="/assets/jquery.mobile-1.2.0.js"></script>

</head> 

<body>
<% end %>
<div data-role="page">

<div data-role="header">
	<h1>Guardener</h1>
</div>

<div data-role="content">
	<h2>Welcome to Guardener</h2>
	<p>Log in to tend your garden</p>
	<p>###Login Forms Here###</p>
</div>

<div data-role="footer" data-id="samebar" class="nav-glyphish-example" data-position="fixed" data-tap-toggle="false">
	<div data-role="navbar" class="nav-glyphish-example" data-grid="c">
		<ul>
			<li><a href="index.html" id="home" data-icon="custom" class="ui-btn-active">Home</a></li>
			<li><a href="#" id="garden" data-icon="custom">Garden</a></li>
			<li><a href="#" id="plants" data-icon="custom">Plants</a></li>
			<li><a href="#" id="community" data-icon="custom">Community</a></li>
		</ul>
	</div>
</div>


</div>
<% if false then %>
</body>

</html>
<% end %>