<%= render 'layouts/header' %>

<div class=container-header-under>
  <%= render 'layouts/left_nav' %>
  <%= render 'layouts/right_nav' %>
  <div class=container-body-center>
    <p>Welcome to Gardener's Cookbook.com, where all of nature's beauty is just a cookbook away!</p>
    <p><%= link_to "View and add plants here", personal_plants_path %></p>
  </div>
</div>
