<div data-role="page" id="one">

	<div data-role="content" id="login_info">
	</div>
	<div class="ui-block-a">
    <p><a href="#two" data-role="button">Next Page</a></p> 
  </div>
</div>

<div data-role="page" id="two">

	<div data-role="content" id="login_info">
	</div>
</div>

<script type="text/javascript">
	
</script>