<%= render "/layouts/header" %>

This is the weather
<<<<<<< HEAD
<p>Coolkio</p>
=======
<div id="weather-data"></div>
>>>>>>> 3df9e9ab02d8db65da0e4f94b2f3bf3ae7ca42d5

<div id="img-temp-container">
	<img id="weather-image">
	<div id="weather-temp"></div>
</div>
<%
#<script src="http://free.worldweatheronline.com/feed/weather.ashx?q=Palo+Alto&format=json&num_of_days=2&key=9ae687bfc7235922120311&callback=renderWeather"></script>
%>
<%puts "QUERY: "
puts @queryURL%>
<script src=<%=@queryURL%>></script>

<%= render "/layouts/footer" %>
