<%= render "/layouts/header" %>
This is the weather
<div id="weather-data"></div>

<div id="img-temp-container">
	<img id="weather-image">
	<div id="weather-temp"></div>
</div>

<script src="http://free.worldweatheronline.com/feed/weather.ashx?q=Palo+Alto&format=json&num_of_days=2&key=9ae687bfc7235922120311&callback=renderWeather"></script>

<%= render "/layouts/footer" %>
