
  <%= render "/layouts/header" %>
<% @page_title = "Your Gardens" %>
<div data-role="content"> 		
      <ul data-role="listview" data-divider-theme="b" data-inset="true">
        <li data-role="list-divider" role="heading">
          Gardens
        </li>
        <% if @gardens.size > 0 then %>
        <% for garden in @gardens do %>
          
          <li data-theme="c">
            <a href="/gardens/<%= garden[:id] %>" data-ajax="false" data-transition="slide">
              <%= garden[:name] %>
            </a>
          </li> 

        <% end %>
          <li data-theme="e" style="border-bottom:1px solid black" data-icon="plus">
          	<a href="/gardens/new" data-ajax="false">
    			Add a garden
  			</a>
  		  </li>
      
    <% else %>
      <li data-theme="e" style="border-bottom:1px solid black" data-icon="plus">
          	<a href="/gardens/new" data-ajax="false">
    			Add your first garden
  			</a>
  		  </li>
    <% end %>
    </ul>
</div>
