<script src="//cdn.optimizely.com/js/141325595.js"></script>
<% @page_title = "Your Gardens" %>
<%= render "/layouts/header" %>
<div data-role="content">
  <div id="iphone_container">
    <% if @gardens.size > 0 then %>
      <ul data-role="listview" data-divider-theme="b" data-inset="true">
        <li data-role="list-divider" role="heading">
          Your Gardens
        </li>
        <% for garden in @gardens do %>
          
          <li data-theme="c">
            <a href="/gardens/<%= garden[:id] %>" data-ajax="false" data-transition="slide">
              <%= garden[:name] %>
            </a>
          </li> 

        <% end %>
      </ul>
    <% else %>
      You don't have any Gardens Yet
    <% end %>

  <a data-role="button" data-theme="e" href="/gardens/new" data-ajax="false">
    Create New Garden
  </a>
  </div>
</div>

<%= render "/layouts/footer" %>