// Place all the styles related to the test controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#plant_watering .calendar {
  border-collapse: collapse;
  width: 100%;

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 10px;
    padding: 6px;
    border: 1px solid #999;
  }

  th {
    background: #DDD;
    color: #666;
    text-align: center;
    width: 14.2857142857143%;
    width: 100px;
    max-width: 400px;
  }

  td {
    background: #FFF;
    color: #777;
    height: 20px;
    vertical-align: top;
    font-size: 16px;
  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: #D7F2FF; }
}

#plant_watering #month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}

#result {
  float: left;
  clear: both;
  width: 800px;
  height: 400px;
  background-color: gray;
}

#plant_watering ul {
  font-size: 11px;
  padding-left: 20px;
}

#calendar_view_by_group {
  display:none;
  width: 600px;
  height: 200px;
  background-color: blue;
}
#calendar_view_by_plant {
  display:none;
  width: 600px;
  background-color: #efefef;
}

#feedback { font-size: 1.4em; }
#calendar_view_selectable { cursor: hand; cursor: pointer; }
#calendar_view_selectable .ui-selecting { background: #FECA40; }
#calendar_view_selectable .ui-selected { background: #F39814; color: white; }
#calendar_view_selectable { list-style-type: none; margin: 0; padding: 0; }
#calendar_view_selectable li { margin: 3px; padding: 1px; float: left; width: 150px; height: 80px; text-align: center;}

#plant_selectable .ui-selecting { background: #FECA40; }
#plant_selectable .ui-selected { background: #F39814; color: white; }
#plant_selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#plant_selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }

.field { clear: both;}