*									{ margin: 0; padding: 0; }
body								{ font: 14px Helvetica, Sans-Serif; }

#page-wrap {
  width: 740px;
}

/*
.ui-tabs 							{ zoom: 1; }
.ui-tabs .ui-tabs-nav 				{ list-style: none; position: relative; padding: 2px 2px 0; overflow: hidden; 
									  top: 1px; z-index: 1000; }
.ui-tabs .ui-tabs-nav li 			{ position: relative; float: left; border: 1px solid #ccc; 
									  border-bottom-width: 0 !important; margin: 0 2px -1px 0; background: #ccc; }
.ui-tabs .ui-tabs-nav li a 			{ float: left; text-decoration: none; padding: 5px 10px; color: black; }
.ui-tabs .ui-tabs-nav 
li.ui-tabs-selected 				{ padding-bottom: 1px; border-bottom-width: 0; background: white; }
.ui-tabs .ui-tabs-nav 
li.ui-tabs-selected a, .ui-tabs 
.ui-tabs-nav li.ui-state-disabled a, 
.ui-tabs .ui-tabs-nav 
li.ui-state-processing a 			{ cursor: text; }
.ui-tabs .ui-tabs-nav li a, 
.ui-tabs.ui-tabs-collapsible 
.ui-tabs-nav li.ui-tabs-selected a  { cursor: pointer; } *//* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
/*
.ui-tabs .ui-tabs-panel 			{ padding: 20px; display: block; border-width: 0; background: none; 
									  border: 1px solid #ccc; position: relative; min-height: 200px; }
.ui-tabs .ui-tabs-hide 				{ display: none !important; }

.ui-datepicker { width: 17em; padding: .2em .2em 0; z-index: 9999 !important; }
*/
/*.ui-block-a {
  height: 300px;
*/}

a.mover 							{ background: #900; padding: 6px 12px; position: absolute;
								      color: white; font-weight: bold; text-decoration: none; }
.next-tab 							{ bottom: 0; right: 0; -moz-border-radius-topleft: 10px; -webkit-border-top-left-radius: 10px; }
.prev-tab 							{ bottom: 0; left: 0; -moz-border-radius-topright: 10px; -webkit-border-top-right-radius: 10px; }

#feedback { font-size: 1.4em; }
#is_houseplant_selectable { cursor: hand; cursor: pointer; }
#is_houseplant_selectable .ui-selecting { background: #FECA40; }
#is_houseplant_selectable .ui-selected { background: #F39814; color: white; }
#is_houseplant_selectable { list-style-type: none; margin: 0; padding: 0; }
#is_houseplant_selectable li { margin: 3px; padding: 1px; float: left; width: 150px; height: 80px; text-align: center;}
.field { clear: both;}

#recommended_sun_exposure_selectable { cursor: hand; cursor: pointer; }
#recommended_sun_exposure_selectable .ui-selecting { background: #FECA40; }
#recommended_sun_exposure_selectable .ui-selected { background: #F39814; color: white; }
#recommended_sun_exposure_selectable { list-style-type: none; margin: 0; padding: 0; }
#recommended_sun_exposure_selectable li { margin: 3px; padding: 1px; float: left; width: 150px; height: 80px; text-align: center;}

#actual_sun_exposure_selectable { cursor: hand; cursor: pointer; }
#actual_sun_exposure_selectable .ui-selecting { background: #FECA40; }
#actual_sun_exposure_selectable .ui-selected { background: #F39814; color: white; }
#actual_sun_exposure_selectable { list-style-type: none; margin: 0; padding: 0; }
#actual_sun_exposure_selectable li { margin: 3px; padding: 1px; float: left; width: 150px; height: 80px; text-align: center;}

.toggler { width: 500px; height: 200px; }
#button { padding: .5em 1em; text-decoration: none; }
#effect { width: 240px; height: 135px; padding: 0.4em; position: relative; }
#effect h3 { margin: 0; padding: 0.4em; text-align: center; }

#feedback { font-size: 1.4em; }
#calendar_view_selectables { cursor: hand; cursor: pointer; }
#calendar_view_selectables .ui-selecting { background: #FECA40; }
#calendar_view_selectables .ui-selected { background: #F39814; color: white; }
#calendar_view_selectables { list-style-type: none; margin: 0; padding: 0; }
#calendar_view_selectables li { margin: 3px; padding: 1px; float: left; width: 150px; height: 80px; text-align: center;}



#plant_selectables .ui-selecting { background: #FECA40; }
#plant_selectables .ui-selected { background: #F39814; color: white; }
#plant_selectables { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#plant_selectables li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }

.field { clear: both;}

#calendar_view_by_plants {
  display:none;
  width: 600px;
  background-color: #efefef;
}

#old-plant-fields {
  /*
  display:none;
  Can't have display:none; here because ajax will reload this
  */
  width: 600px;
  background-color: #ccc;
}


#new-plant-fields {
  /*
  display:none;
  */
  width: 600px;
  background-color: #888;
}

/*
  Navs
*/
.nav-left {
  width: 130px;
  height: 400px;
  background-color: gray;
  float: left;
  text-align: center;
}
.nav-right {
  width: 130px;
  height: 400px;
  background-color: green;
  float: right;
}
.nav-show-back {
  clear: both;
}

.child-plants-table a {
  color: white;
  font-style: bold;
}

.child-plants-table th {
  padding: 10px 10px 10px 10px;
  background-color: gray;
  color: white;
}
.child-plants-table tr:nth-child(odd) {
  background-color: blue;
}
.child-plants-table tr:nth-child(even) {
  background-color: green;
}

.child-plants-table td {
  padding: 10px 10px 10px 10px;
  color: white;
  text-align: center;
}



/*
  Divs in inside the container-center-body
*/
#name {
  float: left;
  width: 175px;
  height: 100px;
}
#plant-basic-info {
  float: left;
  width: 175px;
  height: 100px;
}
#plant-water-info {
  float: left;
  width: 175px;
  height: 100px;
}
#plant-sun-info {
  float: left;
  width: 175px;
  height: 100px;
}
#plant-specific-info {
  float: left;
  width: 175px;
  height: 100px;
}
