.user-home-name {
	margin:10px 0px 10px 0px;
	font-size:2em;
}

.user-home-widgets a {
	color:white;
	text-decoration: none;
	font-size:1.1em;
	font-weight: bold;
}

.user-home-widgets {
	margin:10px;
	padding:10px;
	width:200px;
	height:200px;
	float:left;
	color:white;
	text-align: center;
}

.user-home-widgets-header {
	border-bottom-width:2px;
	border-bottom-color:white;
	border-bottom-style: solid;
	margin:10px -10px 10px -10px;
	padding:0px 0px 10px 0px;
	font-size: 1.1em;
}

.waterings-widget {
	background-color:gray;
}

.plants-widget {
	background-color:green;
}

.personal-plants-widget {
	background-color:blue;
}