<div data-role="footer" data-id="samebar" class="nav-glyphish-example" data-position="fixed" data-tap-toggle="false">
  <div data-role="navbar" data-iconpos="top">
     <ul>
         <li>
            <% if params[:controller] == 'users' then %>
              <a href="/home/index" id="home" data-icon="custom" data-ajax="false" class="ui-btn-active">
                 Home
              </a>
            <% else %>
              <a href="/home/index" id="home" data-icon="custom" data-ajax="false" >
                 Home
              </a>
            <% end %>
         </li>
         <li>
            <% if params[:controller] == 'gardens' then %>
              <a href="/gardens" id="garden" data-icon="custom" data-ajax="false" class="ui-btn-active">
                 Gardens
              </a>
            <% else %>
              <a href="/gardens" id="garden" data-icon="custom" data-ajax="false" >
                 Gardens
              </a>
            <% end %>
         </li>
         <li>
            <% if params[:controller] == 'plants' then %>
              <a href="/plants" id="plants" data-icon="custom" data-ajax="false" class="ui-btn-active">
                 Plants
              </a>
            <% else %>
              <a href="/plants" id="plants" data-icon="custom" data-ajax="false" >
                 Plants
              </a>
            <% end %>
         </li>
         <li>
            <% if params[:controller] == 'weather' then %>
              <a href="/weather" id="weather" data-icon="custom" data-ajax="false" class="ui-btn-active">
                 Weather
              </a>
            <% else %>
              <a href="/weather" id="weather" data-icon="custom" data-ajax="false" >
                 Weather
              </a>
            <% end %>
         </li>
         <li>
            <% if params[:controller] == 'community' then %>
              <a href="/community" id="community" data-icon="custom" data-ajax="false" class="ui-btn-active">
                 Community
              </a>
            <% else %>
              <a href="/community" id="community" data-icon="custom" data-ajax="false" >
                 Community
              </a>
            <% end %>
      </li>
    </ul>
  </div>
</div>