<div data-role="footer" data-position="fixed" data-tap-toggle="false">
  <div id="nav-bot">
  <div data-role="navbar" class="nav-glyphish-example" data-iconpos="top">
     <ul>
         <li>
            <% if params[:controller] == 'gardens' then %>
              <a href="/gardens?def=1" id="garden" data-ajax="false" data-icon="custom" class="ui-btn-active">
                 Gardens
              </a>
            <% else %>
              <a href="/gardens?def=true" id="garden" data-icon="custom" data-ajax="false" >
                 Gardens
              </a>
            <% end %>
         </li>
         <li>
            <% if params[:controller] == 'plants' or 
                  params[:controller] == 'personal_plants' or 
                  params[:controller] == 'personal_plants_waterings' then %>
              <a href="/plants" id="plants" data-ajax="false" data-icon="custom" class="ui-btn-active">
                 Plants
              </a>
            <% else %>
              <a href="/plants" id="plants" data-icon="custom" data-ajax="false" >
                 Plants
              </a>
            <% end %>
         </li>
    </ul>
  </div>
  </div>
</div>




<!-- the following has been taken out, and may be added back in later -->
<% if false then %>
          <li>
            <% if params[:controller] == 'users' then %>
              <a href="/home/index" id="home" data-icon="custom" data-ajax="false" class="ui-btn-active">
                 Home
              </a>
            <% else %>
              <a href="/home/index" id="home" data-icon="custom" data-ajax="false" >
                 Home
              </a>
            <% end %>
          </li>


  <!-- Community will be added once we get a hold of doing all the watering and such -->
          <li>
            <% if params[:controller] == 'community' then %>
              <a href="/community" id="community" data-icon="custom" data-ajax="false" class="ui-btn-active">
                 Community
              </a>
            <% else %>
              <a href="/community" id="community" data-icon="custom" data-ajax="false" >
                 Community
              </a>
            <% end %>
          </li>


  <!-- Weather is taken out for now to see how the app looks without it in the footer and just accessed from gardens -->
           <li>
            <% if params[:controller] == 'weather' then %>
              <a href="/weather" id="weather" data-icon="custom" data-ajax="false" class="ui-btn-active">
                 Weather
              </a>
            <% else %>
              <a href="/weather" id="weather" data-icon="custom" data-ajax="false" >
                 Weather
              </a>
            <% end %>
          </li>
<% end %>
