<div data-theme="a" data-role="header">
  
  <h1>Guardener</h1>
  <div id="nav_bar_top">
    <ul>
      <li>
        <a href="#page1" data-theme="" data-icon="">
          Button
        </a>
         -&gt;
      </li>
      <li>
        <a href="#page1" data-theme="" data-icon="">
          Button
        </a>
         -&gt;
      </li>
      <li>
        <a href="#page1" data-theme="" data-icon="">
          Button
        </a>
         -&gt;
      </li>
      <li>
        <a href="#page1" data-theme="" data-icon="">
          Button
        </a>
      </li>
    </ul>
  </div>
</div>