<div data-theme="a" data-role="header">
  <div id="nav_bar_top">
    <ul>
      <li>
        <div class="header_third header_third_right">
          <% if @no_back == nil then %>
            <% if @back_url != nil then %>
              <a data-role="button" href="<%= @back_url %>" data-ajax="false">
            <% else %>
              <a data-role="button" href="<%= request.referrer %>" data-ajax="false">
            <% end %>
              Back
            </a>
          <% end %>
        </div>
      </li>
      <li>
        <div class="header_third header_third_center">
          Guardener
        </div>
      </li>
      <li>
        <div class="header_third header_third_right">
          <a href="/users/<%= session[:user][:id] %>" id="home" data-role="button" data-icon="custom" data-ajax="false">
            User Account
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>




<!-- this was the button navigation system -->
<% if false then %>

  <div id="nav_bar_top">
    <ul>
      <li>
        <a href="#page1" data-theme="" data-icon="">
          Button
        </a>
         -&gt;
      </li>
      <li>
        <a href="#page1" data-theme="" data-icon="">
          Button
        </a>
         -&gt;
      </li>
      <li>
        <a href="#page1" data-theme="" data-icon="">
          Button
        </a>
         -&gt;
      </li>
      <li>
        <a href="#page1" data-theme="" data-icon="">
          Button
        </a>
      </li>
    </ul>
  </div>


<% end %>