<!DOCTYPE html>
<html>
  <head>
    <title>GardenCookbook</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>




    <title>Guardener</title> 
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

    
    <link rel="/public/images/apple-touch-icon" href="/images/greentreesmall.jpg" />
    <link rel="/public/images/apple-touch-startup-image" href="/images/greentree.jpg">
    
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
    
  </head>
  <body>
    <div data-theme="a" data-role="header">
      
      <h1>Guardener</h1>
      <div id="nav_bar_top">
        <ul>
          <li>
            <a href="#page1" data-theme="" data-icon="">
              Button
            </a>
             -&gt;
          </li>
          <li>
            <a href="#page1" data-theme="" data-icon="">
              Button
            </a>
             -&gt;
          </li>
          <li>
            <a href="#page1" data-theme="" data-icon="">
              Button
            </a>
             -&gt;
          </li>
          <li>
            <a href="#page1" data-theme="" data-icon="">
              Button
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--
    <div class=container-header-under>
      <div class=container-body-center>
    -->
    <%= yield %>
    <!--  
      </div>
    </div>
    -->
    <% if session[:user] then %>
      <div data-role="footer" data-id="samebar" class="nav-glyphish-example" data-position="fixed" data-tap-toggle="false">
       <div data-role="navbar" data-iconpos="top">
                     <ul>
                         <li>
                            <% if params[:controller] == 'users' then %>
                              <a href="/home/index" id="home" data-icon="custom" class="ui-btn-active">
                                 Home
                              </a>
                            <% else %>
                              <a href="/home/index" id="home" data-icon="custom">
                                 Home
                              </a>
                            <% end %>
                         </li>
                         <li>
                            <% if params[:controller] == 'gardens' then %>
                              <a href="/gardens" id="garden" data-icon="custom" class="ui-btn-active">
                                 Gardens
                              </a>
                            <% else %>
                              <a href="/gardens" id="garden" data-icon="custom">
                                 Gardens
                              </a>
                            <% end %>
                         </li>
                         <li>
                            <% if params[:controller] == 'plants' then %>
                              <a href="/plants" id="plants" data-icon="custom" class="ui-btn-active">
                                 Plants
                              </a>
                            <% else %>
                              <a href="/plants" id="plants" data-icon="custom">
                                 Plants
                              </a>
                            <% end %>
                         </li>
                         <li>
                            <% if params[:controller] == 'weather' then %>
                              <a href="/weather" id="weather" data-icon="custom" class="ui-btn-active">
                                 Weather
                              </a>
                            <% else %>
                              <a href="/weather" id="weather" data-icon="custom">
                                 Weather
                              </a>
                            <% end %>
                         </li>
                         <li>
                            <% if params[:controller] == 'community' then %>
                              <a href="/community" id="community" data-icon="custom" class="ui-btn-active">
                                 Community
                              </a>
                            <% else %>
                              <a href="/community" id="community" data-icon="custom">
                                 Community
                              </a>
                            <% end %>
                         </li>
                     </ul>
                 </div>
        <% if false then %>
        <div data-role="navbar" class="nav-glyphish-example" data-grid="c">
          <ul>
            <% if params[:controller] == 'users' then %>
              <li><a href="/home/index" id="home" data-icon="custom" class="ui-btn-active">Home</a></li>
            <% else %>
              <li><a href="/home/index" id="home" data-icon="custom">Home</a></li>
            <% end %>

            <% if params[:controller] == 'gardens' then %>
              <li><a href="/gardens" id="garden" data-icon="custom" class="ui-btn-active">Garden</a></li>
            <% else %>
              <li><a href="/gardens" id="garden" data-icon="custom">Garden</a></li>
            <% end %>

            <% if params[:controller] == 'plants' then %>
              <li><a href="/plants" id="plants" data-icon="custom" class="ui-btn-active">Plants</a></li>
            <% else %>
              <li><a href="/plants" id="plants" data-icon="custom">Plants</a></li>
            <% end %>
            
            <% if params[:controller] == 'weather' then %>
              <li><a href="/plants" id="weather" data-icon="custom" class="ui-btn-active">Weather</a></li>
            <% else %>
              <li><a href="/plants" id="weather" data-icon="custom">Weather</a></li>
            <% end %>
            
            <% if params[:controller] == 'community' then %>
              <li><a href="/community" id="community" data-icon="custom" class="ui-btn-active">Community</a></li>
            <% else %>
              <li><a href="/community" id="community" data-icon="custom">Community</a></li>
            <% end %>
          </ul>
        </div>
        <% end %>
      </div>
    <% end %>
  </body>
</html>
